<div class="container">
    <br>
    <h2 class="text text-primary">Change Password</h2>
    <div class="row justify-content-center">
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePasswordScreen()">
            <div class="form-row">
                <div class="form-group col-md-12 col-sm-12">
                    <label for="old_password">Old Password </label>
                    <input type="password" formControlName="old_password" class="form-control" id="old_password"
                        placeholder="Old Password" autocomplete="old_password"
                        [value]="changePasswordForm.get('old_password')">
                    <small class="text-danger m-0 p-0"
                        *ngIf="!changePasswordForm.get('old_password').valid && changePasswordForm.get('old_password').touched">
                        <span *ngIf="changePasswordForm.get('old_password').errors ">*Enter a valid Password</span>
                    </small>
                </div>
                <div class="form-group col-md-12 col-sm-12">
                    <label for="new_password">New Password</label>
                    <input #np type="password" formControlName="new_password" class="form-control" id="new_password"
                        placeholder="New Passowrd">
                    <small class="text-danger m-0 p-0"
                        *ngIf="!changePasswordForm.get('new_password').valid && changePasswordForm.get('new_password').touched">
                        <span *ngIf="changePasswordForm.get('new_password').errors ">*Enter a valid Password</span>
                    </small>
                </div>
                <div class="form-group col-md-12 col-sm-12">
                    <label for="confirm_password">Confirm Password</label>
                    <input #cp type="password" formControlName="confirm_password" class="form-control"
                        id="confirm_password" placeholder="Confirm Passowrd">
                    <small class="text-danger m-0 p-0"
                        *ngIf="changePasswordForm.hasError('unmatched') && changePasswordForm.get('confirm_password').touched">
                        *Both Password Should Match
                    </small>
                </div>
            </div>
            <button type="submit" [disabled]="changePasswordForm.invalid" style="float: right"
                class="btn btn-primary mt-3">Change Password</button>
        </form>
    </div>
</div>